{
  :deps {
    com.bhauman/figwheel-main {:mvn/version "0.2.4"}
    com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
    reagent  {:mvn/version  "1.0.0-alpha1"}
  }
  :paths ["src" "target" "resources"]
}
